#image-area {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  -webkit-transform: translate(-50%, -50%);
}
#text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  background-color: whitesmoke;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: translate(-50%, -50%);
}
#image-and-text-area {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 1000px;
  -webkit-transform: translate(-50%, -50%);
}
#sub-image-area {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
}
#sub-text-area {
  position: absolute;
  top: 0;
  margin-left: 500px;
  height: 500px;
  width: 500px;
  background-color: whitesmoke;
  text-align: center;
  vertical-align: middle;
}
#new-memory-area {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 1000px;
  background-color: black;
  -webkit-transform: translate(-50%, -50%);
}
#upload-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 500px;
  background-color: #a6edcb;
}
#text-entry-box {
  position: absolute;
  top: 0;
  margin-left: 500px;
  height: 500px;
  width: 500px;
  background-color: whitesmoke;
}
