<!--<div id="footer">-->
  <!--<app-footer></app-footer>-->
<!--</div>-->
<!--<div id="body">-->
  <!--<app-body [current_memory]="current_memory"-->
            <!--[new_memory]="footer.new_memory"></app-body>-->
<!--</div>-->
<!--<div id="sidebar"-->
     <!--[@sidebarState]="getSidebarState()"></div>-->
<!--<div id="sidebar-pullout"-->
     <!--[@sidebarButtonState]="getSidebarButtonState()"-->
     <!--(click)="changeSidebarState()">-->
  <!--<img [src]="arrow_icon" id="arrow">-->
<!--</div>-->
<div id="fixed-page">
  <img id="camera-icon" src="../assets/camera.png">
  <div id="menu-expanded">
    <!--img src="../assets/menu.png">-->
    <div id="menu-expanded-header">
      <div id="edit-event-button">Edit Event</div>
    </div>
  </div>
  <div id="title-box">Michael Jackson</div>
  <div id="caption-box">In loving memory. In loving memory.</div>
</div>
<div id="scroll-page-top">
  <div id="location-box">San Fransisco, CA</div>
  <div id="date-box">Wednesday, August 8, 2018</div>
  <div id="rsvp-button">Complete Your RSVP</div>
</div>
<div id="scroll-page-rest"></div>

